{% extends 'base.html.twig' %}

{% block title %}{{attraction.name}} - Jurassic World{% endblock %}

{% block content %}

<div class="row mt-4">
    <div class="col-md-5">
        <img src="/uploads/{{attraction.picture}}" alt="{{attraction.name}}" class="img-fluid">
    </div>
    <div class="col-md-7 my-auto bg-perso text-white container-detail-attraction">
        <h3 class="text-center">{{attraction.name}}</h3>
        <hr>
        <p>
            {{attraction.description}}
        </p>

    </div>
</div>
<hr>
<div class="bg-perso text-white text-center">
<h3>Nos attractions du moment</h3>
<p>Découvrez les attractions les plus fun</p>
</div>

 <div class="row">
    {% for attraction in attractions %}
        <div class="col-md-4">
             {% include "attraction/single_attraction.html.twig" %}
        </div>
    {% endfor %}           
</div><!-- /.row -->

    
{% endblock %}