{% extends 'base.html.twig' %}
{% block title %}{{attraction.name}} - Jurassic World{% endblock %}
{% block effet %}{% endblock %}
{% block content %}
<div class="row pt-2 mb-4">
	<div class="col-12 bg-secondary p-2 mt-2 text-primary rounded-2 ">
		<h2 class="text-center">{{attraction.name}}</h2>
		<div class="image-full rounded-3" style="background-image: url(/uploads/{{attraction.imagefull}}); background-size: cover;"></div>
			<span class="mb-2 badge
					{% if attraction.category == 'Vitesse' %}
						bg-vitesse
					{% elseif attraction.category == 'Horreur' %}
						bg-horreur
					{% elseif attraction.category == 'Jeune âge' %}
						bg-jeuneAge
					{% else %}
						bg-primary
					{% endif %}
					">{{attraction.category}}</span>
			<p class="card-text">{{attraction.description}}</p>
		</div>
	</div>
	<hr>
	<div class="col-12 bg-secondary text-primary text-center rounded-3">
		<h2>Nos attractions du moment</h2>
		<p>Découvrez les attractions les plus fun</p>
	</div>
	<div class="row justify-content-center">
		{% for attraction in attractions %}
		<div class="col-12 col-sm-6 col-md-4">
			{% include "attraction/single_attraction.html.twig" %}
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
