{# <div class="attraction-item text-center d-grid gap-2">

    <div class="image-cards" style = "height: 231px; background-image: url(/uploads/{{attraction.picture}}); background-size: cover; background-repeat: no-repeat; background-position: center;"></div>

    <span class="badge  
    
    {% if attraction.category == 'Vitesse' %}
        bg-warning
    {% elseif attraction.category == 'Horreur' %}
        bg-danger
    {% elseif attraction.category == 'Jeune âge' %}
        bg-success
    {% endif %}
    ">{{attraction.category}}</span>

    <h5>{{attraction.name}}</h5>

    <span class="attraction-subtitle">{{attraction.subtitle}}</span>
    <div class="d-grid gap-2">
  <a href="{{ path('attraction_detail', { 'slug' : attraction.slug } ) }}" class="text-white btn btn-success mb-1">Découvrir</a>
</div>
    

</div> #}

 <div class="card mb-2 text-center bg-light">
    <img src="/uploads/{{attraction.picture}}" class="card-img-top" height="231px" alt="...">
    <div class="card-body">
    <span class="badge 
    {% if attraction.category == 'Vitesse' %}
        bg-warning
    {% elseif attraction.category == 'Horreur' %}
        bg-danger
    {% elseif attraction.category == 'Jeune âge' %}
        bg-success
    {% else %}
        bg-primary
    {% endif %}
    ">{{attraction.category}}</span>
      <h5 class="card-title">{{attraction.name}}</h5>
      <p class="card-text">{{attraction.subtitle}}</p>
      <div class="d-grid gap-2">
      <a href="{{ path('attraction_detail', { 'slug' : attraction.slug } ) }}" class="text-white btn btn-success  mb-1">Découvrir</a>
      </div>
    </div>
  </div>