{% extends 'base.html.twig' %}

{% block title %}Ajouter une adresse - Jurassic World
{% endblock %}
{% block footerfixed %}{% endblock %}
{% block content %}

	<div class="container-address mt-4 bg-secondary p-2 text-primary rounded-3">
		<div class="col-md-12 d-flex justify-content-between">
			<h1>Ajouter une addresse</h1>
			<a href="{{path('account')}}"><img src="{{asset('assets/img/close.svg')}}" alt="retour sur la page precedente" width="20px"></a>
		</div>
		<hr>
		{{ form_start(form) }}

		<div class="row">
			<div class="col-md-6">{{form_row(form.nameaddress)}}</div>
			<div class="col-md-6">{{form_row(form.company)}}</div>
			<div class="col-md-12">{{form_row(form.address)}}</div>
			<div class="col-md-6">{{form_row(form.postal)}}</div>
			<div class="col-md-6">{{form_row(form.city)}}</div>
			<div class="col-md-6">{{form_row(form.country)}}</div>
			<div class="col-md-6">{{form_row(form.phone)}}</div>
		</div>


		{{ form_end(form) }}
	</div>


{% endblock %}
