{% extends 'base.html.twig' %}

{% block title %}Mes adresses - La Boutique Francaise{% endblock %}

{% block content %}

<div class="container-address mt-4 bg-info p-2 rounded-3 text-white">
        <h1>Mes adresses</h1>
        <a href="{{path('account_address_add')}}" class="btn btn-success btn-sm">Ajouter une adresse</a>
        <a href="{{path('account')}}" class="btn btn-secondary btn-sm float-end">Retour</a></br> 
        C'est dans cet espace que vous allez pouvoir gérer toutes vos adresses.</br> 
        
        <hr>
        {% if app.user.addresses|length == 0 %}
            <p class="text-center">
                Vous n'avez pas encore ajouté d'adresse dans votre compte client. Pour en ajouter une, veuillez <a href="{{path('account_address_add')}}">cliquer ici</a>.
            </p>
        {% else %}
            <div class="row">
                {% for address in app.user.addresses %}
                    <div class="col-md-4 text-center">
                        <div class="card" style="width: 18rem;">
                                <div class="card-body text-dark">
                                    <h5 class="card-title">{{ address.nameaddress }}</h5>
                                    <p class="card-text">{{ address.address }}, <br>
                                    {{ address.postal }} - {{ address.city }} - {{ address.country }}
                                    </p>
                                    <a href="{{path('account_address_edit', {'id' : address.id})}}">Modifier</a> | <a href="{{path('account_address_delete', {'id' : address.id})}}">Supprimer</a>
                                </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
</div>
    
 
{% endblock %}