{% extends 'base.html.twig' %}

{% block title %}Mes réservation - Jurassic World{% endblock %}

{% block content %}
<div class="text-light bg-info p-2 mt-2 rounded-3">
    <h1>Mes réservations</h1>
    <p>C'est dans cet espace que vous allez pouvoir consulter vos réservations</p>
    <a href="{{path('account')}}" class="btn btn-secondary btn-sm float-start">Retour</a></br> 
    
    <table class="table mt-4 text-white">
        <thead>
            <tr>
                <th>Numéro de réservation</th>
                <th>Date de séjour</th>
                <th>Payé</th>
                <th>Crée le</th>
                <th>Quantité</th>
                <th>Total</th>
                <th>Qr-code</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
                <tr>
                    <td>{{reservation.numberticket}}</td>
                    <td>{{reservation.datechoice|date('d/m/Y')}}</td>
                    <td>{% if reservation.ispaid %}Paiement validé{% endif %}</td>
                    <td>{{reservation.createdat|date('d/m/Y')}} à {{reservation.createdat|date('H:i:s')}}</td>
                    <td>{% if reservation.quantity == 1 %}1 place {% else %}{{reservation.quantity}} places{% endif %}</td>
                    <td>{{(reservation.total / 100)|number_format(2, ',', '.')}} €</td>
                    <td><a href="/assets/qr-code/{{reservation.qrcode}}" target='_blank' class='btn btn-danger btn-sm'>Mon billet</a></td>
                </tr>   
            {% endfor %}
            
        </tbody>
    </table>
</div>


{% endblock %}
