{% extends 'base.html.twig' %}

{% block title %}Mes réservation - Jurassic World
{% endblock %}

{% block content %}

	<div class="col-12 text-white bg-secondary p-2 mt-2 rounded-3">
		<div class="col-md-12 d-flex justify-content-between">
			<h2>Mes réservations</h2>
			<a href="{{path('account')}}"><img src="{{asset('assets/img/close.svg')}}" alt="page précédente" width="20px"></a>
		</div>
		<p>C'est dans cet espace que vous allez pouvoir consulter vos réservations</p>
		<table class="table mt-4 text-center text-white">
			<thead>
				<tr>
					<th scope="col">Numéro de réservation</th>
					<th scope="col">Date de séjour</th>
					<th scope="col">Payé</th>
					<th scope="col">Crée le</th>
					<th scope="col">Quantité</th>
					<th scope="col">Total</th>
					<th scope="col">Qr-code</th>
					<th scope="col">Avis</th>
				</tr>
			</thead>
			<tbody>
				{% for reservation in reservations %}

					<tr>
						<td>{{reservation.numberticket}}</td>
						<td>{{reservation.datechoice|date('d/m/Y')}}</td>
						<td>
							{% if reservation.ispaid %}Paiement validé
							{% endif %}
						</td>
						<td>{{reservation.createdat|date('d/m/Y')}}
							à
							{{reservation.createdat|date('H:i:s')}}</td>
						<td>
							{% if reservation.quantity == 1 %}1 place
							{% else %}
								{{reservation.quantity}}
								places
							{% endif %}
						</td>
						<td>{{(reservation.total / 100)|number_format(2, ',', '.')}}
							€</td>
						<td>
							<a href="/assets/qr-code/{{reservation.qrcode}}" target='_blank' class='btn btn-danger btn-sm'>Mon billet</a>
						</td>
						<td>
							{% if commentEligibility[reservation.numberticket] == 'eligible' %}
								<a href="{{path('ratting_add', {'id' : reservation.id})}}" class='btn btn-success btn-sm'>Laisser un commentaire</a>
							{% elseif commentEligibility[reservation.numberticket] == 'notEligible' %}
								<a href="" class='btn btn-warning btn-sm'>Bientot disponible</a>
							{% elseif commentEligibility[reservation.numberticket] == 'isSaved'%}
								<button class="btn btn-info btn-sm">Commentaire validé</button>
							{% elseif commentEligibility[reservation.numberticket] == 'notPaid'%}
								<button class="btn btn-info btn-sm">Non éligible</button>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>


{% endblock %}
