{% extends 'base.html.twig' %}

{% block title %}Spectacle - Jurassic World{% endblock %}

{% block content %}

{% for spectacle in spectacles %}

<div class="row bg-secondary text-white p-2 mt-2 rounded-2">
    <div class="col-md-7 my-4">
        <h2 class="text-center">{{spectacle.name}}</h2>
        <h3>{{spectacle.subtitle}}</h3>
        <h4>{{spectacle.horaire}}</h4>
        <p>{{spectacle.description}}</p>
    </div>
        <div class="col-md-5 image-spectacle my-4" style="background-image: url(/uploads/{{spectacle.picture}});"></div>

</div> 
{% endfor %}

{% endblock %}
