{% extends 'base.html.twig' %}
{% block title %}Spectacle - Jurassic World
{% endblock %}
{% block effet %}{% endblock %}
{% block content %}
	{% for spectacle in spectacles %}
	<div class="row bg-secondary text-primary p-2 mt-3 rounded-2">
		<div class="col-12 col-md-7 my-4 d-flex flex-column justify-content-center">
			<h2 class="text-center title-important">{{spectacle.name}}</h2>
			<h3>{{spectacle.subtitle}}</h3>
			<h4>{{spectacle.horaire}}</h4>
			<p>{{spectacle.description}}</p>
		</div>
		<div class="col-12 col-md-5 image-spectacle my-4 rounded-3" style="background-image: url(/uploads/{{spectacle.picture}}); background-size: cover; background-position: center;"></div>
	</div>
	{% endfor %}
{% endblock %}
