{% extends 'base.html.twig' %}

{% block title %}Mes adresses - Jurassic World{% endblock %}

{% block content %}

<div class="container-address mt-4 bg-info p-2 rounded-3 text-white">
        <h1>Choisissez votre adresse de facturation</h1>       
        <hr>
            <div class="row">
                {% for address in app.user.addresses %}
                    <div class="col-md-4 text-center">
                        <div class="card" style="width: 18rem;">
                                <div class="card-body text-dark">
                                    <h5 class="card-title">{{ address.nameaddress }}</h5>
                                    <p class="card-text">{{ address.address }}, <br>
                                    {{ address.postal }} - {{ address.city }} - {{ address.country }}
                                    </p>
                                    <a href="{{path('reservation_recap', {'addressid' : address.id})}}" class="btn btn-success">Choisir</a>
                                </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        
</div>
    
 
{% endblock %}