{% extends 'base.html.twig' %}
{% block javascript %}
<script src="https://js.stripe.com/v3/"></script>
{% endblock %}
{% block title %}Je réserve - Jurassic World{% endblock %}
{% block content %}
<div class="row mt-4 text-center m-auto flex-column align-items-center bg-secondary text-primary rounded-3">
  
    <h2>Pret à réserver {{reservation.user.firstname}}</h2>
    <p>Vérifier vos informations : </p>
    <div class="card col-6 bg-dark mb-4 text-white" style="width: 18rem;">
      <img class="card-img-top" src="{{asset('assets/img/logo_jw.svg')}}" alt="logo jurassic world">
      <div class="card-body">
        <h5 class="card-title">{{reservation.user.firstname}} {{reservation.user.lastname}}</h5>
        <p class="card-text">
          {{reservation.user.email}} <br>
          <p>Addresse de facturation : <br>
            {{reservation.AddressReservation|replace({'[br]' : '<br/>'})|raw}}
          </p>
          <p>
            Date d'entrée au parc : {{reservation.datechoice|date("d/m/Y")}} <br>
            <hr>
            Nombre de personne : {{reservation.quantity}} <br>
            Prix entrée au parc : {{ (price / 100)|number_format(2, ',', '.') }} €.<br>
            Total : {{ (reservation.total / 100)|number_format(2, ',', '.') }} €. <br>
            <hr>
            Votre réservation sera validé apres le paiement
          </p>
        </p>
      </div>
  </div>
  <div class="col-12">
  <button type="button" class="btn btn-success btn-block mb-1" id="checkout-button">Effectuer le paiement</button>
  </div>
  

</div>
  
{% endblock %}
{% block script %}
<script type="text/javascript">
  var stripe = Stripe(
    "pk_test_51Ifj6fDsg4lIRoShgo49BaLBqJQ1TO8rAFTJ3VyJ7ATTjLlVN7VK6qZyWkmxFtpCP0lD1bwChMUMWKb03QFWmTan007dZvcqol");
  var checkoutButton = document.getElementById("checkout-button");
  checkoutButton.addEventListener("click", function () {
    fetch("/reservation/create-session/{{ reservation.numberticket }}", {
        method: "POST",
      })
      .then(function (response) {
        return response.json();
      })
      .then(function (session) {
        if (session.error == 'order') {
        window.location.replace('{{ path('simulation') }}')
        } else {
          return stripe.redirectToCheckout({
            sessionId: session.id
          });
        }
      })
      .then(function (result) {
        if (result.error) {
          alert(result.error.message);
        }
      })
      .catch(function (error) {
        console.error("Error:", error);
      });
  });
</script>
{% endblock %}