<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>{% block title %}Jurassic World{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    {{ encore_entry_link_tags('app') }}
    {% block javascript %}{% endblock %}





</head>

<body {% if block('effet') is defined %} {{ stimulus_controller('symfony/ux-swup/swup') }} {% endif %}data-containers="#swup #lien">

    <header>
    {# Position fixed sur la navbar lié avec le css et l'element main-content #}
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{path('home')}}"><img class="img-navbar"
                        src="https://upload.wikimedia.org/wikipedia/fr/d/d8/Jurassic_World_Logo.png" alt=""
                        srcset=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {# <main id="swup"> #}
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('attraction')}}">Attractions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('spectacle')}}">Spectacle</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('reservation')}}">Je reserve</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('acces_parc')}}">Acces au parc</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path ('rating')}}">Avis</a>
                        </li>
                    </ul>

                    <span class="navbar-text swup-control">

                        {% if app.user %}
                        <a href="{{path('account')}} " id="lien">Mon compte <small>({{app.user.firstname}})</small></a>
                        | <a href="{{path('app_logout')}} " id="lien">Déconnexion</a>
                        {% else %}
                        <a href="{{path('app_login')}} " id="lien">Connexion</a> | <a href="{{path('register')}} "
                            id="lien">Inscription</a>
                        {% endif %}

                    </span>

                </div>
                {# </main> #}
            </div>
        </nav>

    </header>
    <div id="swup">
        <main role="main" class="main-content">
            {# -------------------------------CAROUSEL------------------------------- #}

            {% if block('carousel') is defined %}

            <div id="carouselExampleCaptions" class="carousel slide d-none d-md-block" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    {% for key, heeader in headers %}
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{key}}" {% if key == 0 %}class="active"{% endif %}
                        aria-current="true" aria-label="Slide 1"></button>
                    {% endfor %}
                </div>
                <div class="carousel-inner">

                    {% for key,header in headers %}
                        <div class="carousel-item {% if key == 0 %}active{% endif %}" style = "background: url('/uploads/{{header.illustration}}'); background-position: center; background-size: cover;">
                            
                            <div class="carousel-caption d-none d-md-block">
                                <h5>{{header.title}}</h5>
                                <p>{{header.content}}</p>
                                <p><a class="btn btn-lg btn-info" href="{{header.btnurl}}" role="button">{{header.btntitle}}</a></p>
                            </div>
                        </div>   
                    {% endfor %}

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            {% endif %}
          
            {# -------------------------------Content------------------------------- #}

            <div class="container marketing mb-5">

                {% block content %}
                {% endblock %}
            </div>
    </div>

        {# -------------------------------FOOTER------------------------------- #}
        <footer class="container-fluid text-white text-center bg-dark fixed-bottom">
            <p>&copy; 2017-2020 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>
    </main>

    {{ encore_entry_script_tags('app') }}
   
    {# <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> #}
    {# <script src="{{asset('assets/js/bootstrap.bundle.js')}}"></script> #}
    
</body>
{% block script %}{% endblock %}
</html>