<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description"
		content="Bienvenue dans Jurassic World, uniquer parc spécialisé dans les dinosaures. Venez découvrir l'aventure extraordinaire.">
	<link rel="icon" href="{{ asset('assets/img/Jurassicqrcode.png') }}" />
	<title>
		{% block title %}Jurassic World
		{% endblock %}
	</title>
	{{ encore_entry_link_tags('app') }}
</head>

<body {% if block('effet') is defined %} {{ stimulus_controller('symfony/ux-swup/swup') }} {% endif %}
	data-containers="#swup #lien" data-theme="slide">
	<header>
		{# -------------------------------NAVBAR-START------------------------------ #}

		{% include "base_inc/navbar_inc.html.twig" %}
		{# -------------------------------NAVBAR-END------------------------------ #}
	</header>
	<div class="container bg-background mt-0 rounded-3 p-2">
		
		<div {% if block('effet') is defined %} id="swup" {% endif %}>
			<main role="main" class="main-content pt-1">
				{# -------------------------------CAROUSEL-START------------------------------ #}
				{% if block('carousel') is defined %}
				{% include "base_inc/carousel_inc.html.twig" %}
				{% endif %}
				{# -------------------------------CAROUSEL-START------------------------------ #}

				{# -------------------------------CONTENT-START------------------------------ #}
				<div class="container marketing mb-5">
					{% block content %}
					{% endblock %}
				</div>
				{# -------------------------------CONTENT-END------------------------------ #}

				{# -------------------------------FOOTER------------------------------- #}
			</main>
		</div>
	</div>
	<footer	class="container-fluid text-white text-center bg-dark mt-2 {% if block('footerfixed') is defined %}fixed-bottom {% endif %}">
		<div class="row d-flex flex-column">
			<div class="col-2 m-auto d-flex justify-content-around align-items-center">
				<img src="{{asset('assets/img/instagram.svg')}}" alt="" srcset="" height="30px">
				<img src="/assets/img/logo_jw.svg" alt="logo jurassic world" width="30px">
				<img src="{{asset('assets/img/twitter.svg')}}" alt="" srcset="" height="30px">
			</div>
			<div class="col-6 m-auto">
				<p class="mb-0">&copy; www.antonin-dev.fr</p>
			</div>
		</div> 
	</footer>
	{{ encore_entry_script_tags('app') }} 
	{% block javascript %}{% endblock %}
	{% block script %}{% endblock %} 
</body> 
</html>